.navigation {
    position: absolute;
    width: 100%;
    max-height: 10%;
    left: 0px;
    top: 50px;
    display: flex;
    background: rgba(196, 196, 196, 0.6);
}
#website_logo {
    position: absolute;
    max-width: 100%;
    max-height:100%;
    padding: 0.2vw;
    margin-left: 10vw;
}
.title {
    position: absolute;
    margin-top: 0vw;
    margin-left: 16vw;

    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;

    color: #FF3900;

}
.subtitle {
    position: absolute;
    margin-top: 2.3vw;
    margin-left: 16vw;

    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;

    color: #000000;
}

.navigation a {
    position: relative;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 2vw;
    left: 40vw;
    top: 0vw;

    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 28px;

    color: #000000;

  }
  .navigation a:hover {
    color: #FF3900;
  }
  #home_image {
    position: static;
    max-width: 35%;
    max-height: 35%;
    margin-top: 10vw;
    margin-left: 10vw;
  }
  .landing-text {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 100px;
    
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4vw;
    display: inline-flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
  }

  /*Log in Form*/
  
  .form {
    position: absolute;
    padding: 23px;
    max-width:60%;
    max-height: 100%;
    margin-left: 51vw;
    margin-top: -25vw;
    text-align: center;
    background: rgba(196, 196, 196, 0.014);
    box-shadow:0 4px 10px 4px;

    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
  }
  .tabs {
    position: absolute;
    border: 1px solid black;
    text-align: center;
    background:rgba(255, 55, 0, 0.808);
    width: 94%;
    max-height: 100%;
    padding: 10px;
    top: 0vw;
    left: 0vw;
    
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 28px;
    

  }
  .tabs a{
    padding: 3vw;
    text-decoration: none;
    color: rgb(44, 44, 44);
  }
  .tabs a:hover {
    color:white; 
  }
  
  #title {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6vw;
    line-height: 56px;

    color: #FF3900;
  }
  
  /*footer*/
  .footer {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 836px;
    background: rgba(255, 55, 0, 0.911);
}
  .footer a{
    position: relative;
    float: left;
    display: block;
    text-decoration: none;
    padding: 4px 50px;
    left: 15vw;
    top: 2vw;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3vw;
    line-height: 28px;
    text-align: center;

    color: white;
  }
#copyright {
    position: absolute;
    float: center;
    display: block;
    top: 4vw;
    left:47vw;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1vw;
    line-height: 28px;
    text-align: center;

    color: white;
}
