html{
  height: auto;
  width: 100%;
}
body{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/*Navbar*/
.navbar {
  font-size: 18px;
  background: rgba(196, 196, 196, 0.6);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-family: raleway, sans-serif;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 26px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

.fa-bars:before{
  color: black;
}

#website_logo {
  height: auto;
  width: 8vw;
}
.title {
  margin-top: 0vw;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  color: #FF3900;
}
.site_title{
display: flex;
flex-direction: column;
justify-content: center;
}
.subtitle {
  margin: 0;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #000000;
}


.logo_area{
display: flex;
flex-wrap: nowrap;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}

.landing-text {
  max-width: 100%;
  max-height: 100%;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4vw;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
/*Navbar*/




  /*Log in Form*/
  
  
  


/*Main Part*/
.main{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.main .featured-image{
  width: 40%;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}
.main .featured-image img{
  height: 100%;
  width: 100%;
}
.main .content{
  width: 48%;
}
/*Main Part*/






/*Forms*/
.form {
  text-align: center;
  background: rgba(196, 196, 196, 0.014);
  box-shadow:0 4px 10px 4px;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.tabs {
  border: 1px solid black;
  background:rgba(255, 55, 0, 0.808);
  width: 100%;
  box-sizing: border-box;
  max-height: 100%;
  padding: 10px;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 28px;
}
.tabs span{
  padding: 35px;
  text-decoration: none;
  color: rgb(44, 44, 44);
}
.tabs span:hover {
  color:white; 
  cursor: pointer;
}
.tab-content{
  padding: 0 23px 23px 23px;
}
#title {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: #FF3900;
}
.main .content .form-heading{
  width: 100%;
  text-align: center;
}
.main .content .registration-form{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.forms{
  width: 100%;
}
#login-form{
  display: none;
}
#signup-form{
  display: block;
}
.form-fields{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
  align-items:  center;
}
.form-labels, .form-inputs{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  margin: 10px;
}

.form-labels div input{
  padding: 0 12px 0 12px;
  margin-left: 10px;
}
.form-labels div{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 10px;
}
input[type="submit"]{
  margin-top: 15px;
  border: 0;
  padding: 10px 50px 10px 50px;
  background-color: #FF3900;
  color: white;
}
input[type="submit"]:hover{
  cursor: pointer;
}
.active-form{
  color: white;
}
.tabs span:hover{
  color: white;
}
.fb {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
  background-color: #3B5998;
  color: white;
}
.fb:hover {
  opacity: 1;
}
#fblogo{
  height:auto;
  width:1.5vw;
}
/*Forms*/


  /*footer*/
  .footer {
    width: 100%;
    height: auto;
    background: rgba(255, 55, 0, 0.911);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.footer nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 8px 0;
  width: 100%;
}
  .footer a{
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.0rem;
    color: white;
  }
#copyright {
    margin: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}





/*How It Works Tab*/
.how-it-works{
  height: auto;
  width: 100%;
}
.how-it-works h1{
  font-weight: 600;
  margin-left: 80px;
  font-size: 2.5rem;
  font-family: raleway, sans-serif;
  color: #545353;
}
.how-it-works p{
  font-family: raleway, sans-serif;
}
.pictorial-view, .role{
  display: flex;
  flex-wrap: nowrap;
}
.role-img{
  position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.pictorial-view{
  margin-top: 125px;
}
.arrow-up{
  transform: translate(1px, -19px) rotate(29deg);
}
.arrow-down{
  transform: rotate(-29deg) translate(-138px, -7px);
}
.types, .traveller, .box1, .requester, .box2{
  display: flex;
  flex-wrap: nowrap;
  font-family: raleway, sans-serif;
}
.types{
  flex-direction: column;
}
.traveller{
  justify-content: space-between;
  transform: translate(-94px, -46px);
}
.requester{
  transform: translate(-94px, -16px);
}
.type-title{
  margin-right: 18px;
}
.box1{
  justify-content: space-between;
  background: url('../images/line.png') no-repeat;
  background-size: 97% 130%;
  background-position: -8px, 100%;
  background-position-y: -70px;
}
.boxes{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.upper-box-1{
  flex-basis: 204px;
}
.upper-box-2{
  align-items: center;
  flex-basis: 174px;
  transform: translateY(-90px);
}
.upper-box-3{
  align-items: center;
  flex-basis: 150px;
  transform: translateY(16px);
}
.upper-box-4{
  align-items: center;
  flex-basis: 160px;
  transform: translateY(-55px);
}

.box2{
  justify-content: space-between;
  background: url('../images/line.png') no-repeat;
  background-size: 97% 130%;
  background-position: -14px, 100%;
  background-position-y: 30px;
  transform: scaleY(-1);
}
.upper-box-5{
  flex-basis: 22%;
  transform: scaleY(-1);
}
.upper-box-6{
  flex-basis: 21%;
  align-items: center;
  transform: scaleY(-1) translateY(-65px);
}
.upper-box-7{
  flex-basis: 16%;
  align-items: center;
  transform: scaleY(-1) translateY(-25px);
}
.upper-box-8{
  flex-basis: 18%;
  align-items: center;
  transform: scaleY(-1) translateY(-64px);
}




/*About Tab*/
.header{
  max-width: 100%;
  max-height: 100%;
  margin-left: 3vw;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #545353;
}
.about-text{

  max-width: 100%;
  max-height: 100%;
  margin-left: 3vw;
  display: inline-flex;
  align-items: center;
  text-align: left;

  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 33px;
  color: #000000;
}
.benefits{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.benefits-icons{
  width:10%
}
.caption{
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
  text-align: center;

  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 21px;
  color: #000000;
}




/*Contact Tab*/
.contact-text{
  width: 100%;
  text-align: center;
}
.contact {
  max-width: 100%;
  max-height: 100%;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vw;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
/* Style inputs, select elements and textareas */
.container input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.container input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
.container label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.container input[type=submit] {
  background-color: #FF3900;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 21px;
  color: #000000;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.container .row:after {
  content: "";
  display: table;
  clear: both;
}


/*Requests*/ 
.search-bar {
  display: flex;
  float: right;
}
.search-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 5px;
}
.search-bar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 2px solid black;
  cursor: pointer;
}