<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WASI</title>
    <!--import font: Raleway-->
    <link rel="stylesheet" href="https://use.typekit.net/ohq0bte.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- import the webpage's stylesheet -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='/css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='/css/responsive.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
        </span>
        <a href="#" class="logo">
          <div class="logo_area">
            <div>
              <img
                id="website_logo"
                src="{{url_for('static',filename='/images/logo.png')}}"
                alt="Logo">
            </div>
            <div class="site_title">
              <h1 class="title">WASI</h1>
              <h2 class="subtitle">Travel Couriers</h2>
            </div>
          </div>
        </a>
        <ul class="main-nav" id="js-menu">
          <li>
            <a href="{{url_for('requests')}}" class="nav-links">Requests</a>
          </li>
          <li>
            <a href= "#"class="nav-links">Notifications</a>
          </li>
          <li>
            <a href="#" class="nav-links">Messages</a>
          </li>
          <li>
            <a href= "#"class="nav-links">Profile</a>
          </li>
          <li>
            <a href= "#"class="nav-links">Options</a>
          </li>
        </ul>
      </nav>

      <div class="main">
        <div class="requests-content">
          <div class=search-bar>
            <form action="/">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          
          <!--Price range filter-->
          <script>
            $( function() {
              $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 1000,
                values: [ 0, 300 ],
                slide: function( event, ui ) {
                  $( "#amount" ).val( "JOD" + ui.values[ 0 ] + " - JOD" + ui.values[ 1 ] );
                }
              });
              $( "#amount" ).val( "JOD" + $( "#slider-range" ).slider( "values", 0 ) +
                " - JOD" + $( "#slider-range" ).slider( "values", 1 ) );
            } );
          </script>
          <p>
            <label for="amount" style="font-family: raleway, sans-serif; margin-left: 16px;">Price range:</label>
            <input type="text" id="amount" readonly style="border:0; color:#FF3900; font-weight:bold; font-family: raleway, sans-serif;">
          </p>

          <div id="slider-range" style= "width: 25%; margin-left: 20px;"></div>
          <!--Price range filter-->

          <!--Weight range filter-->
          <script>
            $( function() {
              $( "#slider-range2" ).slider({
                range: true,
                min: 0,
                max: 30,
                values: [ 0, 300 ],
                slide: function( event, ui ) {
                  $( "#amount2" ).val( "kg" + ui.values[ 0 ] + " - kg" + ui.values[ 1 ] );
                }
              });
              $( "#amount2" ).val( "kg" + $( "#slider-range2" ).slider( "values", 0 ) +
                " - kg" + $( "#slider-range2" ).slider( "values", 1 ) );
            } );
          </script>
          <p>
            <label for="amount2" style="font-family: raleway, sans-serif; margin-left: 16px;">Weight of item:</label>
            <input type="text" id="amount2" readonly style="border:0; color:#FF3900; font-weight:bold; font-family: raleway, sans-serif;">
          </p>

          <div id="slider-range2" style= "width: 20%; margin-left: 20px;"></div>

          <!--Weight range filter-->

          <!--Country filter-->
          


          
          
        </div>
      </div>

      <!--Footer-->
      <div class="footer">
        <nav>
          <a href="{{url_for('about')}}">About</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="{{url_for('contact')}}">Contact</a>
          <a href="#">Language</a>
        </nav>
        <p id="copyright">© 2020 WASI</p>
      </div>
    </header>
    <!-- import the webpage's javascript file -->
    <script src="{{url_for('static',filename='/js/script.js')}}"></script>


  </body>
</html>